# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
import pandas as pd

insu_data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
insu_data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [2]:
# Identify the dimensions of the dataset by determining the number of rows and columns it contains.
insu_data.shape

(4008, 11)

In [3]:
# Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable.
insu_data.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [4]:
# You should also provide suggestions for fixing any incorrect data types.

In [5]:
# Identify the number of unique values for each column 

a = 'The total number of unique values for'
b = 'is:'
c = 'The unique values for'
d = 'are:'

print(a,'Customer',b,insu_data['Customer'].nunique())
print(a,'ST',b,insu_data['ST'].nunique())
print(a,'GENDER',b,insu_data['GENDER'].nunique())
print(a,'Education',b,insu_data['Education'].nunique())
print(a,'Customer Lifetime Value',b,insu_data['Customer Lifetime Value'].nunique())
print(a,'Income',b,insu_data['Income'].nunique())
print(a,'Monthly Premium Auto',b,insu_data['Monthly Premium Auto'].nunique())
print(a,'Number of Open Complaints',b,insu_data['Number of Open Complaints'].nunique())
print(a,'Policy Type',b,insu_data['Policy Type'].nunique())
print(a,'Vehicle Class',b,insu_data['Vehicle Class'].nunique())
print(a,'Total Claim Amount',b,insu_data['Total Claim Amount'].nunique())

The total number of unique values for Customer is: 1071
The total number of unique values for ST is: 8
The total number of unique values for GENDER is: 5
The total number of unique values for Education is: 6
The total number of unique values for Customer Lifetime Value is: 1027
The total number of unique values for Income is: 774
The total number of unique values for Monthly Premium Auto is: 132
The total number of unique values for Number of Open Complaints is: 6
The total number of unique values for Policy Type is: 3
The total number of unique values for Vehicle Class is: 6
The total number of unique values for Total Claim Amount is: 761

In [6]:
print(c,'ST',d,insu_data['ST'].unique())
print(c,'GENDER',d,insu_data['GENDER'].unique())
print(c,'Education',d,insu_data['Education'].unique())
print(c,'Policy Type',d,insu_data['Policy Type'].unique())
print(c,'Vehicle Class',d,insu_data['Vehicle Class'].unique())

The unique values for ST are: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
The unique values for GENDER are: [nan 'F' 'M' 'Femal' 'Male' 'female']
The unique values for Education are: ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
The unique values for Policy Type are: ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
The unique values for Vehicle Class are: ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [7]:
# and determine which columns appear to be categorical.

num_colms = ['Customer Lifetime Value','Income','Monthly Premium Auto','Total Claim Amount','Number of Open Complaints']
cat_colms = ['ST','GENDER','Education','Policy Type','Vehicle Class']

In [8]:
# You should also describe the unique values of each categorical column,
# and the range of values for numerical columns, and give your insights.
# Compute summary statistics such as mean, median, mode, standard deviation, 
# and quartiles to understand the central tendency and distribution of the data for numerical columns. 

print(insu_data.describe(include='number').T)
print( )
print(insu_data.describe(include='object').T)

                       count          mean           std        min  \
Income                1071.0  39295.701214  30469.427060   0.000000
Monthly Premium Auto  1071.0    193.234360   1601.190369  61.000000
Total Claim Amount    1071.0    404.986909    293.027260   0.382107

                               25%           50%      75%           max
Income                14072.000000  36234.000000  64631.0  99960.000000
Monthly Premium Auto     68.000000     83.000000    109.5  35354.000000
Total Claim Amount      202.157702    354.729129    532.8   2893.239678

                          count unique            top freq
Customer                   1071   1071        RB50392    1
ST                         1071      8         Oregon  320
GENDER                      954      5              F  457
Education                  1071      6       Bachelor  324
Customer Lifetime Value    1068   1027     445811.34%    4
Number of Open Complaints  1071      6         1/0/00  830
Policy Type                1071      3  Personal Auto  780
Vehicle Class              1071      6  Four-Door Car  576

In [9]:
# You should also provide your conclusions based on these summary statistics.

In [10]:
# Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [11]:
locations = insu_data['ST'].value_counts()
loc_least = locations.tail(5).sort_values()
loc_least

AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: ST, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [12]:
policy_num = insu_data['Policy Type'].value_counts()
top_policy = policy_num.idxmax()
print(policy_num)
print('The highest policy is:',top_policy)

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64
The highest policy is: Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [13]:
df_personal = insu_data.loc[insu_data['Policy Type'] == 'Personal Auto']
df_corporate = insu_data.loc[insu_data['Policy Type'] == 'Corporate Auto']

display(df_personal.head())
display(df_corporate.head())

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
6,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
12,DP39365,California,NaN,Master,879879.70%,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737

In [14]:
mean_inc_personal = df_personal['Income'].mean().round(2)
mean_inc_corporate = df_corporate['Income'].mean().round(2)

print('The avg income for Personal Auto policy is:',mean_inc_personal)
print('The avg income for Corporate Auto policy is:',mean_inc_corporate)

The avg income for Personal Auto policy is: 38180.7
The avg income for Corporate Auto policy is: 41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [15]:
# Your code here